<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>JavaScrit</title>
</head>
<body>
    <div class="sec1">
        <h3>Nome: <span id="nome"></span> <span id="sobreNome"></span> </h3>
        <h3>Idade: <span id="idade"></span></h3>
        
        <div class="button">
            <button id="mudarHumor"> Mudar Humor</button>
        </div>

        <div class="foto">
            <img id="imagem" src="#" alt="">
            <h3 id="frase"></h3>
        </div>

    </div>
    <script src="../../../JavaEscript/humor/static/index.js"></script>
</body>

</html>

