.div1{
    margin-top: 5px;
    border-width: 5px; 
    border-color: black;
    border-style: solid;
    background-color: darkblue;
    width: 800px;
    height: 400px;
    text-align: center;
}

.div2{
    background-color: yellow;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-left: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: whitesmoke;
    border-width: 4px;

}
.div2 ul{
    text-align: left;
}

.div3{
    background-color: rgb(255, 0, 200);
    width: 350px;
    height: 200px;
    margin-top: -208px;
    margin-left: 400px;
    border-style: solid;
    border-radius: 10px;
    border-color: whitesmoke;
    border-width: 4px;
    

}
.div3 th{
    text-align: center;
}
table{
    margin: auto;
    border: solid;
    text-align: left;
    width: 300px;
    border-spacing: 0px;

}
th{
    border: 1px solid;
    border-bottom: 2px solid;
    width: 100px;
}

td{
    border-width: 1px;
    border-style: double;
}

img{
    width: 200px;
}