<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/style.css"> 
    <title>Calculadora Dano</title>
</head>
<body>
    
    <section class="sec1">
        <header>
            <h1>Calculadora de Dano</h1>
        </header>
        
        <section class="sec2">
            <h2>Selecione um personagem</h2>

        </section>

        <div class="personagens">
            <div class="nome_personagens">   
                <img src="{{img_orc}}" alt="Orc">
                <h3>ORC</h3>
            </div>

            <div class="nome_personagens">
                <img src="{{img_goblin}}" alt="Goblin">
                <h3>GOBLIN</h3>
            </div>

            <div class="nome_personagens">
                <img src="{{img_feiticeiro}}" alt="Feiticeiro">
                <h3>FEITICEIRO</h3>

            </div>    
        </div>

        

        <section class="sec3">
            <h2>Selecione uma arma</h2>
            
        </section>

        <div class="armas">
                
            <div class="nome_arma">
                <img src="../static/imagens/murro.png" alt="">
                <h3>SOCO</h3>

            </div>

            <div class="nome_arma">
                <img src="{{img_espada}}" alt="">
                <h3>ESPADA</h3>

            </div>

            <div class="nome_arma">
                <img src="{{img_staff}}" alt="">
                <h3>STAFF</h3>

            </div>

        </div>

        <footer>
            <button class= "efeito">
                Calcular Dano
            </button>
        </footer>
    </section>
</body>
</html>

