h2{
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.sec1{
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: lightseagreen;
    padding-bottom: 40px;
}
.button{
    padding: 10px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    
    justify-content: space-around;
}
button{
    display: flex;
    background-color: seagreen;
    width: 150%;
    
    border-radius: 10px;
    flex-shrink: 100;
    flex-basis: 200%;
    min-width: 10%;
    
}

.fotos{
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: seagreen;
    width: 50%;
    height: 50%;
}

img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;

}

h3{
    width: 100%;
    height: 100%;
    text-align: center;
}
a{
    text-decoration: none;
}
